

@inherits LayoutComponentBase

@using FireSharp.Config;
@using FireSharp.Response;
@using FireSharp.Interfaces;
@using System.Security.Permissions;
@using Data;
@using MudBlazor


<div class="page" style="background-color:rgba(237,237,237);">



    <div class="" style="background-color:rgb(6,187,100)">
        <NavMenu />
    </div>

    <main style="width:100%; margin-top:20px; height:100%; margin-bottom:50px; background-color:rgba(237,237,237);">

        <MudThemeProvider />
        <MudDialogProvider />
        <MudSnackbarProvider />
        
        <div style="width:100%; height:20px; margin-top:20px; margin-bottom:20px">
            <label style=" margin-left:20px;">Manage tools</label>
        </div>
        
        @Body
        

    </main>

</div>

@code {
    

}